## üìò HDB Resale Flat Prices

### üìå Notebook Description

- **Team:** Team A  
- **Members:** Ben, Shazlin, Alan  
- **Project Name:** HDB Resale Flat Data Engineering Pipeline
- **Description:** Implements automated data ingestion from data.gov.sg and performs dataset merging to produce a unified, analysis-ready dataset.
- **Data Artifacts:**  
    - `/DataLake/<raw files>`  
    - `/Staging/Main.csv`

### üì¶ Import Required Libraries

In [1]:
#---Stanard Libraries------------------------------------------------------------
import pandas as pd

import matplotlib.pyplot as plt
import copy
from pprint import pprint as pp

from datetime import datetime
from dateutil.relativedelta import relativedelta

#---Customized Libaries---------------------------------------------------------f
from Downloader import Downloader
from Downloader import combineDownloadedFiles


from IPython.display import HTML

#---Customized-----------------------------------------
import control_output
pd.set_option("display.float_format", "{:,.2f}".format)
control_output.css

### ‚ñ∂Ô∏è Execute Downloader

In [2]:
downloader = Downloader()
#downloader.child_datasets
downloader.execute()
print(f"Total Number of File......: {downloader.nfiles} downloaded")
print(f"Total Number of Reconds...: {downloader.nrecords} downloaded")

https://api-open.data.gov.sg/v1/public/api/datasets/d_8b84c4ee58e3cfc0ece0d773c8ca6abc/poll-download
Downloading File#..: 1
Download Child ID..: d_8b84c4ee58e3cfc0ece0d773c8ca6abc
Saved to...........: ../Project-HDB-Store/DataLake/hdb_data_d_8b84c4ee58e3cfc0ece0d773c8ca6abc.csv
Number of records..: 220597
----------------------------------------------------------------------------------------------------
https://api-open.data.gov.sg/v1/public/api/datasets/d_43f493c6c50d54243cc1eab0df142d6a/poll-download
Downloading File#..: 2
Download Child ID..: d_43f493c6c50d54243cc1eab0df142d6a
Saved to...........: ../Project-HDB-Store/DataLake/hdb_data_d_43f493c6c50d54243cc1eab0df142d6a.csv
Number of records..: 369651
----------------------------------------------------------------------------------------------------
https://api-open.data.gov.sg/v1/public/api/datasets/d_2d5ff9ea31397b66239f245f57751537/poll-download
Downloading File#..: 3
Download Child ID..: d_2d5ff9ea31397b66239f245f57751537
Saved to...........: ../Project-HDB-Store/DataLake/hdb_data_d_2d5ff9ea31397b66239f245f57751537.csv
Number of records..: 52203
----------------------------------------------------------------------------------------------------
https://api-open.data.gov.sg/v1/public/api/datasets/d_ebc5ab87086db484f88045b47411ebc5/poll-download
Downloading File#..: 4
Download Child ID..: d_ebc5ab87086db484f88045b47411ebc5
Saved to...........: ../Project-HDB-Store/DataLake/hdb_data_d_ebc5ab87086db484f88045b47411ebc5.csv
Number of records..: 287196
----------------------------------------------------------------------------------------------------
https://api-open.data.gov.sg/v1/public/api/datasets/d_ea9ed51da2787afaf8e51f827c304208/poll-download
Downloading File#..: 5
Download Child ID..: d_ea9ed51da2787afaf8e51f827c304208
Saved to...........: ../Project-HDB-Store/DataLake/hdb_data_d_ea9ed51da2787afaf8e51f827c304208.csv
Number of records..: 37153
----------------------------------------------------------------------------------------------------
Total Number of File......: 5 downloaded
Total Number of Reconds...: 966800 downloaded

### üîé System-Level Verification

In [3]:
def count_lines(filename):
    filename = f"../Project-HDB-Store/{filename}"
    with open(filename, "r", encoding="utf-8") as f:
        return sum(1 for _ in f) - 1

total = 0
for child_id in downloader.child_datasets:
    file = f'DataLake/hdb_data_{child_id}.csv'
    num_lines = count_lines(file)
    total += num_lines
    print(f"{file} has {num_lines:7} lines.")
print(f"Total Records: {total}")

DataLake/hdb_data_d_8b84c4ee58e3cfc0ece0d773c8ca6abc.csv has  220597 lines.
DataLake/hdb_data_d_43f493c6c50d54243cc1eab0df142d6a.csv has  369651 lines.
DataLake/hdb_data_d_2d5ff9ea31397b66239f245f57751537.csv has   52203 lines.
DataLake/hdb_data_d_ebc5ab87086db484f88045b47411ebc5.csv has  287196 lines.
DataLake/hdb_data_d_ea9ed51da2787afaf8e51f827c304208.csv has   37153 lines.
Total Records: 966800

#### Combine Raw File From DataLake
- Write to Staging: Main.csv

In [4]:
hdb_data = combineDownloadedFiles(downloader)

Combined File Written in Staging/Main.csv
Total:  966800

### üìã Sample Data (head)

In [5]:
hdb_data

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
year_month,,,,,,,,,
1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.00,IMPROVED,1977,"9,000.00"
1990-01-01,KALLANG/WHAMPOA,3 ROOM,44,BENDEMEER RD,04 TO 06,63.00,STANDARD,1981,"31,400.00"
1990-01-01,KALLANG/WHAMPOA,3 ROOM,20,ST. GEORGE'S RD,04 TO 06,67.00,NEW GENERATION,1984,"66,500.00"
1990-01-01,KALLANG/WHAMPOA,3 ROOM,14,KG ARANG RD,04 TO 06,103.00,NEW GENERATION,1984,"77,000.00"
1990-01-01,KALLANG/WHAMPOA,3 ROOM,46,OWEN RD,01 TO 03,68.00,NEW GENERATION,1982,"58,000.00"
...,...,...,...,...,...,...,...,...,...
2025-12-01,BEDOK,5 ROOM,139,BEDOK NTH AVE 3,10 TO 12,117.00,Standard,1979,"710,000.00"
2025-12-01,CENTRAL AREA,3 ROOM,635,VEERASAMY RD,04 TO 06,72.00,Model A,1985,"550,000.00"
2025-12-01,PUNGGOL,4 ROOM,308B,PUNGGOL WALK,10 TO 12,92.00,Premium Apartment,2016,"715,000.00"
2025-12-01,BEDOK,5 ROOM,516,BEDOK NTH AVE 2,07 TO 09,119.00,Improved,1979,"700,000.00"
2025-12-01,JURONG WEST,5 ROOM,652B,JURONG WEST ST 61,16 TO 18,110.00,Improved,2002,"668,000.00"

#### Save File into Staging
- Done in function

In [6]:
#hdb_data.to_csv("staging/Main.csv")