## ðŸ“˜ HDB Resale Flat Prices

### ðŸ“Œ Notebook Description

- **Team:** Team A  
- **Members:** Ben, Shazlin, Alan  
- **Project Name:** HDB Resale Flat Data Engineering Pipeline
- **Description:** Implements automated data ingestion from data.gov.sg and performs dataset merging to produce a unified, analysis-ready dataset.
- **Data Artifacts:**  
    - `/DataLake/<raw files>`  
    - `/Staging/Main.csv`

### ðŸ“¦ Import Required Libraries

In [1]:
import pandas as pd

#---Customized-----------------------------------------
import control_output
pd.set_option("display.float_format", "{:,.2f}".format)
control_output.css

### ðŸ”§ Data Processing

In [2]:
#hdb_data = pd.read_csv('datasets/Main.csv', low_memory=False, usecols=lambda col: not col.startswith("Unnamed"))
hdb_data = pd.read_csv('../Project-HDB-Store/staging/Main.csv', low_memory=False, usecols=lambda col: not col.startswith("Unnamed"))
hdb_data = hdb_data.rename(columns={'month': 'year_month'})
hdb_data["year_month"] = pd.to_datetime(hdb_data["year_month"], format="%Y-%m-%d")
hdb_data.set_index('year_month', inplace=True)

# Important: sort by index
hdb_data = hdb_data.sort_index()

hdb_data_final = hdb_data['2000-01':'2022-12-31']

df_stat_monthly = pd.read_csv('../Project-HDB-Store/staging/stat_monthly.csv',
    index_col="year_month",      # use year_month as index during load
    parse_dates=["year_month"]   # convert to datetime automatically
)

df_stat_yearly1 = pd.read_csv('../Project-HDB-Store/staging/stat_yearly.csv',
    index_col="year",      # use year_month as index during load
    parse_dates=["year"]   # convert to datetime automatically
)

df_merged = hdb_data_final.join(df_stat_monthly, how="left")
#df_merged = df_merged.join(df_stat_yearly, how="left")
#df_merged.to_csv("staging/Main_final.csv")
#df_merged.to_csv("../Project-HDB-Store/staging/Main_final.csv", index=True, index_label="year_month")

In [3]:
df_stat_yearly2 = df_stat_monthly.resample('Y').sum()
# Convert year-end index (Dec 31) â†’ Jan 1 of same year
df_stat_yearly2.index = pd.to_datetime(df_stat_yearly2.index.year.astype(str) + "-01-01")
df_stat_yearly2

            birth  marriages  divorces
year_month
2000-01-01  46997      22561      4920
2001-01-01  41451      22280      4819
2002-01-01  40760      23198      5522
2003-01-01  37485      21962      6100
2004-01-01  37174      22189      5850
2005-01-01  37492      22992      6393
2006-01-01  38317      23706      6527
2007-01-01  39490      23966      6697
2008-01-01  39826      24596      6771
2009-01-01  39570      26081      6927
2010-01-01  37967      24363      6969
2011-01-01  39654      27258      7234
2012-01-01  42663      27936      6893
2013-01-01  39720      26254      7133
2014-01-01  42232      28407      6861
2015-01-01  42185      28322      7117
2016-01-01  41251      27971      7207
2017-01-01  39615      28212      7207
2018-01-01  39039      27007      6990
2019-01-01  39279      25434      7330
2020-01-01  38590      22651      6708
2021-01-01  38672      28329      7674
2022-01-01  35605      29389      6922
2023-01-01  33541      28310      6849

In [4]:
df_stat_yearly = pd.concat([df_stat_yearly1, df_stat_yearly2], axis=1)
df_stat_yearly

,unemployment,inflation,gdp,birth,marriages,divorces
2000-01-01,3.60,1.34,"96,076,539,925.74",46997,22561,4920
2001-01-01,3.70,-0.36,"89,793,790,669.65",41451,22280,4819
2002-01-01,4.80,-1.39,"92,538,372,869.69",40760,23198,5522
2003-01-01,5.30,0.90,"97,646,401,095.64",37485,21962,6100
2004-01-01,4.50,1.15,"115,033,593,101.05",37174,22189,5850
2005-01-01,4.10,-1.23,"127,807,848,728.40",37492,22992,6393
2006-01-01,3.60,0.53,"148,627,286,361.35",38317,23706,6527
2007-01-01,2.90,1.14,"180,941,701,357.97",39490,23966,6697
2008-01-01,3.30,4.53,"193,617,323,539.20",39826,24596,6771
2009-01-01,4.30,-6.03,"194,150,283,771.57",39570,26081,6927
2010-01-01,3.10,2.22,"239,807,980,591.24",37967,24363,6969
2011-01-01,2.90,2.43,"279,356,499,090.46",39654,27258,7234
2012-01-01,2.80,-0.67,"295,092,888,076.59",42663,27936,6893
2013-01-01,2.80,-2.22,"307,576,360,584.99",39720,26254,7133
2014-01-01,2.80,-1.33,"314,863,580,758.46",42232,28407,6861
2015-01-01,2.80,-1.55,"307,998,545,269.40",42185,28322,7117
2016-01-01,3.00,-0.01,"319,646,468,521.50",41251,27971,7207
2017-01-01,3.10,1.11,"343,673,334,902.33",39615,28212,7207
2018-01-01,2.90,-0.14,"377,123,710,560.61",39039,27007,6990
2019-01-01,3.20,0.13,"376,161,998,830.05",39279,25434,7330
2020-01-01,4.10,-0.75,"349,165,858,544.57",38590,22651,6708
2021-01-01,3.70,2.48,"436,591,382,250.46",38672,28329,7674
2022-01-01,2.90,3.82,"509,017,841,146.56",35605,29389,6922
2023-01-01,2.70,-1.30,"505,439,514,078.02",33541,28310,6849

In [5]:
df_merged = hdb_data_final.join(df_stat_monthly, how="left")

### ðŸ“‹ Sample Data (head)

In [6]:
df_merged.head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,lease_commence_date,storey_range,block,remaining_lease,...,full_address,lat,long,nearest_mrt,nearest_distance_to_mrt,remaining_years,price_per_sqm,birth,marriages,divorces
year_month,,,,,,,,,,,,,,,,,,,,,
2000-01-01,ANG MO KIO,3RM,IMPROVED,69.00,ANG MO KIO AVE 4,"147,000.00",1986,07 TO 09,170,85,...,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.37,103.84,mayflower,0.28,85,"2,130.43",3585,1602,396
2000-01-01,BISHAN,4RM,MODEL A,113.00,BISHAN ST 22,"382,500.00",1992,07 TO 09,249,91,...,249 BISHAN STREET 22 SINGAPORE 570249,1.36,103.84,ang mo kio,1.16,91,"3,384.96",3585,1602,396
2000-01-01,BEDOK,3RM,IMPROVED,68.00,NEW UPP CHANGI RD,"166,000.00",1985,01 TO 03,57,84,...,57 NEW UPPER CHANGI ROAD SINGAPORE 461057,1.32,103.94,tanah merah,0.62,84,"2,441.18",3585,1602,396
2000-01-01,PASIR RIS,4RM,MODEL A,110.00,PASIR RIS ST 53,"338,000.00",1995,16 TO 18,574,94,...,574 PASIR RIS STREET 53 SINGAPORE 510574,1.37,103.95,pasir ris,0.38,94,"3,072.73",3585,1602,396
2000-01-01,PASIR RIS,4RM,MODEL A,108.00,PASIR RIS ST 53,"307,800.00",1995,04 TO 06,575,94,...,575 PASIR RIS STREET 53 SINGAPORE 510575,1.37,103.95,pasir ris,0.33,94,"2,850.00",3585,1602,396

### ðŸ“‹ Check Retrieve Dates

In [7]:
sorted_dates = df_merged.index.unique()
datexs = list((sorted_dates[:12].values)) + list((sorted_dates[-12:].values))

for d in datexs:
    print(d)

2000-01-01T00:00:00.000000000
2000-02-01T00:00:00.000000000
2000-03-01T00:00:00.000000000
2000-04-01T00:00:00.000000000
2000-05-01T00:00:00.000000000
2000-06-01T00:00:00.000000000
2000-07-01T00:00:00.000000000
2000-08-01T00:00:00.000000000
2000-09-01T00:00:00.000000000
2000-10-01T00:00:00.000000000
2000-11-01T00:00:00.000000000
2000-12-01T00:00:00.000000000
2022-01-01T00:00:00.000000000
2022-02-01T00:00:00.000000000
2022-03-01T00:00:00.000000000
2022-04-01T00:00:00.000000000
2022-05-01T00:00:00.000000000
2022-06-01T00:00:00.000000000
2022-07-01T00:00:00.000000000
2022-08-01T00:00:00.000000000
2022-09-01T00:00:00.000000000
2022-10-01T00:00:00.000000000
2022-11-01T00:00:00.000000000
2022-12-01T00:00:00.000000000

### ðŸ“¤ Output

In [8]:
print(f"Total HDB Resale Transation: {len(df_merged)}")

Total HDB Resale Transation: 599650

In [9]:
import copy
df_mergedx = copy.copy(df_merged)
store = []
count = 0
for x in df_mergedx.index:
    date_str = str(x).split(' ')[0]
    date_str = date_str.split('-')
    date_str = f"{date_str[0]}-01-{date_str[2]}"
    if count<10:
        count += 1
        #print(date_str)
    store.append(df_stat_yearly.loc[date_str].values)

df_year_new = pd.DataFrame(store)
df_year_new.columns = df_stat_yearly.columns
df_year_new

,unemployment,inflation,gdp,birth,marriages,divorces
0,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
1,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
2,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
3,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
4,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
...,...,...,...,...,...,...
599645,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
599646,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
599647,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
599648,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
599649,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"

In [10]:
df_year_new
df_year_new.rename(columns={
    "birth": "birth-year",
    "marriages": "marriages-year",
    "divorces": "divorces-year"
}, inplace=True)

# Fixed Issue for Merging Yearly State

In [11]:
df1_reset = df_merged.reset_index()
#df2_reset = df_year_new.reset_index(drop=True)
df_mergedx = pd.concat([df1_reset, df_year_new], axis=1)
df_mergedx.set_index('year_month', inplace=True)
df_mergedx

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,lease_commence_date,storey_range,block,remaining_lease,...,price_per_sqm,birth,marriages,divorces,unemployment,inflation,gdp,birth-year,marriages-year,divorces-year
year_month,,,,,,,,,,,,,,,,,,,,,
2000-01-01,ANG MO KIO,3RM,IMPROVED,69.00,ANG MO KIO AVE 4,"147,000.00",1986,07 TO 09,170,85,...,"2,130.43",3585,1602,396,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
2000-01-01,BISHAN,4RM,MODEL A,113.00,BISHAN ST 22,"382,500.00",1992,07 TO 09,249,91,...,"3,384.96",3585,1602,396,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
2000-01-01,BEDOK,3RM,IMPROVED,68.00,NEW UPP CHANGI RD,"166,000.00",1985,01 TO 03,57,84,...,"2,441.18",3585,1602,396,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
2000-01-01,PASIR RIS,4RM,MODEL A,110.00,PASIR RIS ST 53,"338,000.00",1995,16 TO 18,574,94,...,"3,072.73",3585,1602,396,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
2000-01-01,PASIR RIS,4RM,MODEL A,108.00,PASIR RIS ST 53,"307,800.00",1995,04 TO 06,575,94,...,"2,850.00",3585,1602,396,3.60,1.34,"96,076,539,925.74","46,997.00","22,561.00","4,920.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-01,WOODLANDS,3RM,MODEL A,68.00,WOODLANDS DR 62,"470,000.00",2018,10 TO 12,694A,94 years 10 months,...,"6,911.76",2825,3540,486,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
2022-12-01,HOUGANG,4RM,MODEL A,103.00,HOUGANG AVE 10,"590,000.00",1987,07 TO 09,512,63 years 07 months,...,"5,728.16",2825,3540,486,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
2022-12-01,GEYLANG,4RM,NEW GENERATION,91.00,EUNOS CRES,"560,000.00",1977,07 TO 09,11,53 years 05 months,...,"6,153.85",2825,3540,486,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
2022-12-01,PASIR RIS,5RM,IMPROVED,124.00,PASIR RIS ST 11,"625,000.00",1993,07 TO 09,180,69 years 08 months,...,"5,040.32",2825,3540,486,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"
2022-12-01,ANG MO KIO,3RM,NEW GENERATION,81.00,ANG MO KIO AVE 5,"400,000.00",1980,04 TO 06,608,56 years 07 months,...,"4,938.27",2825,3540,486,2.90,3.82,"509,017,841,146.56","35,605.00","29,389.00","6,922.00"

In [12]:
df_mergedx.to_csv("../Project-HDB-Store/staging/Main_final.csv", index=True, index_label="year_month")

In [13]:
#list(df_mergedx.flat_model.unique())

In [14]:
df_stat_monthly

            birth  marriages  divorces
year_month
2000-01-01   3585       1602       396
2000-02-01   3636       1838       458
2000-03-01   3916       2062       441
2000-04-01   3642       1268       448
2000-05-01   4004       1941       466
...           ...        ...       ...
2023-08-01   2855       1881       580
2023-09-01   2923       2329       498
2023-10-01   3167       2803       738
2023-11-01   2862       2833       599
2023-12-01   2644       3322       541

[288 rows x 3 columns]

In [18]:
df_stat_yearly.index.name = "year_month"
df_stat_yearly.to_csv("../Project-HDB-Store/Staging/stat_yearly.csv")

In [19]:
df_stat_yearly

,unemployment,inflation,gdp,birth,marriages,divorces
year_month,,,,,,
2000-01-01,3.60,1.34,"96,076,539,925.74",46997,22561,4920
2001-01-01,3.70,-0.36,"89,793,790,669.65",41451,22280,4819
2002-01-01,4.80,-1.39,"92,538,372,869.69",40760,23198,5522
2003-01-01,5.30,0.90,"97,646,401,095.64",37485,21962,6100
2004-01-01,4.50,1.15,"115,033,593,101.05",37174,22189,5850
2005-01-01,4.10,-1.23,"127,807,848,728.40",37492,22992,6393
2006-01-01,3.60,0.53,"148,627,286,361.35",38317,23706,6527
2007-01-01,2.90,1.14,"180,941,701,357.97",39490,23966,6697
2008-01-01,3.30,4.53,"193,617,323,539.20",39826,24596,6771
2009-01-01,4.30,-6.03,"194,150,283,771.57",39570,26081,6927
2010-01-01,3.10,2.22,"239,807,980,591.24",37967,24363,6969
2011-01-01,2.90,2.43,"279,356,499,090.46",39654,27258,7234
2012-01-01,2.80,-0.67,"295,092,888,076.59",42663,27936,6893
2013-01-01,2.80,-2.22,"307,576,360,584.99",39720,26254,7133
2014-01-01,2.80,-1.33,"314,863,580,758.46",42232,28407,6861
2015-01-01,2.80,-1.55,"307,998,545,269.40",42185,28322,7117
2016-01-01,3.00,-0.01,"319,646,468,521.50",41251,27971,7207
2017-01-01,3.10,1.11,"343,673,334,902.33",39615,28212,7207
2018-01-01,2.90,-0.14,"377,123,710,560.61",39039,27007,6990
2019-01-01,3.20,0.13,"376,161,998,830.05",39279,25434,7330
2020-01-01,4.10,-0.75,"349,165,858,544.57",38590,22651,6708
2021-01-01,3.70,2.48,"436,591,382,250.46",38672,28329,7674
2022-01-01,2.90,3.82,"509,017,841,146.56",35605,29389,6922
2023-01-01,2.70,-1.30,"505,439,514,078.02",33541,28310,6849