In [1]:
import pandas as pd

In [2]:
hdb_data = pd.read_csv('datasets/Main.csv', low_memory=False, usecols=lambda col: not col.startswith("Unnamed"))
hdb_data = hdb_data.rename(columns={'month': 'year_month'})
hdb_data["year_month"] = pd.to_datetime(hdb_data["year_month"], format="%Y-%m")
hdb_data.set_index('year_month', inplace=True)

# Important: sort by index
hdb_data = hdb_data.sort_index()

hdb_data_final = hdb_data['2000-01':'2023-12']

df_stat_montly = pd.read_csv('staging/stat_monthly.csv',
    index_col="year_month",      # use year_month as index during load
    parse_dates=["year_month"]   # convert to datetime automatically
)

df_stat_yearly = pd.read_csv('staging/stat_yearly.csv',
    index_col="year",      # use year_month as index during load
    parse_dates=["year"]   # convert to datetime automatically
)

df_merged = hdb_data_final.join(df_stat_montly, how="left")
df_merged = df_merged.join(df_stat_yearly, how="left")
df_merged.to_csv("datasets/Main_final.csv")

df_merged.head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,lease_commence_date,storey_range,block,remaining_lease,...,lat,long,nearest_mrt,nearest_distance_to_mrt,birth,marriages,divorces,unemployment,inflation,gdp
2000-01-01,ANG MO KIO,3 ROOM,Improved,69.0,ANG MO KIO AVE 4,147000.0,1986,07 TO 09,170,85,...,1.374001,103.836432,mayflower,0.283,3585,1602,396,3.6,1.34,9.607654e+10
2000-01-01,BISHAN,4 ROOM,Model A,113.0,BISHAN ST 22,382500.0,1992,07 TO 09,249,91,...,1.361241,103.843773,ang mo kio,1.161,3585,1602,396,3.6,1.34,9.607654e+10
2000-01-01,BEDOK,3 ROOM,Improved,68.0,NEW UPP CHANGI RD,166000.0,1985,01 TO 03,57,84,...,1.324246,103.941569,tanah merah,0.624,3585,1602,396,3.6,1.34,9.607654e+10
2000-01-01,PASIR RIS,4 ROOM,Model A,110.0,PASIR RIS ST 53,338000.0,1995,16 TO 18,574,94,...,1.374257,103.946137,pasir ris,0.375,3585,1602,396,3.6,1.34,9.607654e+10
2000-01-01,PASIR RIS,4 ROOM,Model A,108.0,PASIR RIS ST 53,307800.0,1995,04 TO 06,575,94,...,1.373189,103.946361,pasir ris,0.325,3585,1602,396,3.6,1.34,9.607654e+10

In [4]:
print(f"Total HDB Resale Transation: {len(df_merged)}")

Total HDB Resale Transation: 602221